<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>物联网创意大赛 - 翼灵</title>
    <link rel="icon" type="image/x-icon" href="../../../../favicon.ico" />
    <link rel="stylesheet" href="/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script src="/lib/jquery-3.2.1.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
</head>
<body>
<!-- nav -->
<nav class="nav navbar navbar-inverse navbar-toggleable-md  fixed-top ">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <h1><a class="navbar-brand navbar-header" href="#">物联网创意大赛</a></h1>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#intro">大赛资料<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#articles">风采展示</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#enter" target="_blank">报名参赛</a>
            </li>
            <li class="nav-item dropdown nav navbar-nav navbar-right">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">关于我们</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <span class="dropdown-header">翼灵物联工作室</span>
                    <a class="dropdown-item" href="http://www.swpuiot.com/">翼灵官网</a>
                    <a class="dropdown-item" href="http://www.swpuiot.com/%E5%B5%8C%E5%85%A5%E5%BC%8F.html">培养方向</a>
                    <a class="dropdown-item" href="#">创意大赛</a>
                    <a class="dropdown-item disabled" href="#">开源空间（暂不开放）</a>
                    <a class="dropdown-item disabled" href="#">招新系统（非招新时间）</a>
                    <a class="dropdown-item disabled" href="#">考试系统（系统更新中）</a>
                    <a class="dropdown-item disabled" href="#">翼灵一家人（暂不开放）</a>
                </div>
            </li>

        </ul>



    </div>
</nav>
<!--content-->
<main>
    <!--header-->
    <header class="hero">
        <div class="container-fluid">
            <img class="hero-bg" src="/img/hero-bg.jpg"/>
            <div class="hero-text">
                <p>运用你对物联网所了解，提出自己的创意想法、优化方案，改变生活</p>
            </div>
                <a href="#enter" class="btn-access">立即报名</a>
            <div class='mouse-container'>
                <a href="#intro">
                    <div class='mouse'>
                        <span class='scroll-down'></span>
                    </div>
                </a>
            </div>
            <div class="mouse-text-container">
                <p class="mouse-text">了解有关物联网创意大赛的更多内容</p>
            </div>

        </div>
    </header>
    <!--大赛简介-->
    <div id="intro" class="has-padding">
    <section >
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h2 class="h2">
                        <span>比赛简介</span>
                        </h2>
                </div>
                <div class="col-md-9">
                    <p class="intro-text">西南石油大学物联网创意大赛，以科技改变生活为主题，目的在于充分激发学生的想象力和创新意识，促使同学们结合对物联网的理解，
                        针对（智慧地球、智能家居、智能医疗、智能农业、智慧校园、智慧交通、食品安全、安防犯罪）等领域，
                        提出自己的创意想法或优化方案，旨在激发学生积极参与物联网知识学习与创新的热情，
                        提升学生在物联网技术相关领域的应用和实践能力，
                        推进物联网相关专业的教学内容和教学方法的改革与创新，促进高校物联网相关技术的研究和成果转化。
                    </p>
                    <div class="video-player">
                        <video class="video-js vjs-default-skin vjs-big-play-centered" preload="auto" width="568" height="300" poster="/img/video-cover.jpg" controls="controls" data-setup="{}">
                            <source src="http://p22svme3d.bkt.clouddn.com/competition/video/video.mp4"/>
                            <p>Your browser does not support the video tag.</p>
                        </video>
                    </div>
                    <div>
                        <p class="intro-text">大赛由翼灵物联网工作室承办，目前已举办多届，初赛通过线上提交创意进行，
                            进入决赛的选手还有机会在赛前统一培训，模拟正式答辩过程，锻炼幻灯片制作演示能力和现场演讲应变能力。
                            决赛在专用演讲厅进行，物联网教研室等专业评委老师现场对参赛选手提问或指导。
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </section>
    </div>
    <!--风采展示-->
    <div id="articles">
    <section >
        <div class="container has-padding-tall">
            <div class="row">
                <h2 class="h2 collection-h2">
                    <span>风采展示</span>
                </h2>
            </div>
            <div class="row">


                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://p22svme3d.bkt.clouddn.com/competition/img/special.jpg"/>
                        <div class="caption">


                            <div><a data-toggle="modal" data-target="#myModal1" href="#"><span class="prize-text">特等奖</span>&nbsp;&nbsp;&nbsp;<span class="work-text">SAFE WALKING（智能拐杖）</span></a></div>

                            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog"
                                 aria-labelledby="myModal1Label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModal1Label">物联网创意大赛</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                <b>特等奖</b><br/>
                                                <span>
						                                余文轩<br/>
                                                          SAFE WALKING（智能拐杖）
                                                        </span>
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://p22svme3d.bkt.clouddn.com/competition/img/one.jpg"/>
                        <div class="caption">

                            <a data-toggle="modal" data-target="#myModal2" href="#"><span class="prize-text">一等奖</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="work-text">智能药箱</span></a>
                            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
                                 aria-labelledby="myModal2Label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModal2Label">物联网创意大赛</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                <b>一等奖</b><br/>
                                                <span>
                                                            黄泰名 高博宇 邹佳良<br/>
                                                            智能药箱<br/>
                                                            </span>
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://p22svme3d.bkt.clouddn.com/competition/img/two.jpg"/>
                        <div class="caption">
                            <a  data-toggle="modal" data-target="#myModal3" href="#"><span class="prize-text">二等奖</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="work-text">智能指环|智能扶梯</span></a>
                            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog"
                                 aria-labelledby="myModal3Label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModal3Label">物联网创意大赛</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                <b>二等奖</b><br/>
                                                <span>
                                                    阳甫军 杨康 余柳  <br/>
                                                    基于NFC的数字校园通行物品——智能指环<br/>
                                                    卢姚 王婷<br/>
                                                    智能扶梯<br/>

                                                </span>
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://p22svme3d.bkt.clouddn.com/competition/img/three.jpg"/>
                        <div class="caption">
                            <a data-toggle="modal" data-target="#myModal5" href="#"><span class="prize-text">三等奖</span><span class="work-text">智能健康贴|智能座椅|智能车牌</span></a>
                            <div class="modal fade" id="myModal5" tabindex="-1" role="dialog"
                                 aria-labelledby="myModal4Label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModal5Label">物联网创意大赛</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                <b>优胜奖</b><br/>
                                                <span>
                                                                曹敏：智能健康贴<br/>
                                                                梁君远：智能座椅<br />
                                                                王梓鑫：智能车牌<br />
                                                            </span>
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://p22svme3d.bkt.clouddn.com/competition/img/nice.jpg"/>
                        <div class="caption">
                            <a data-toggle="modal" data-target="#myModal6" href="#"><span class="prize-text">优胜奖</span><span class="work-text">smart宠儿|共享书籍|校园自行车智能管理系统|贴心智能帽</span></a>
                            <div class="modal fade" id="myModal6" tabindex="-1" role="dialog"
                                 aria-labelledby="myModal4Label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModal6Label">物联网创意大赛</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                <b>优胜奖</b><br/>
                                                <span>
                                                             陈冀川：smart宠儿
                                                             杨高 罗杰 周瑜泷：共享书籍<br />
                                                             代天琪 王宇翔：校园自行车智能管理系统<br/>
						                                     孙玥祺 陈玙璠 肖雅琼：贴心智能帽<br/>

                                                            </span>
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://p22svme3d.bkt.clouddn.com/competition/img/all.jpg"/>
                        <div class="caption">
                            <a data-toggle="modal" data-target="#myModal7" href="#"><span class="together prize-text">创意大赛全体人员合影</span><span class="work-text">全体参赛队员、评委老师、及工作人员赛后合影</span></a>
                            <div class="modal fade" id="myModal7" tabindex="-1" role="dialog"
                                 aria-labelledby="myModal4Label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModal7Label">物联网创意大赛</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                <b>全体合影</b><br/>
                                                <span>
                                                              所有参赛选手与评委老师的合影。

                                                            </span>
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    </div>
    <!--报名参赛-->
    <div id="enter" class="get-started text-center" >
    <section>
        <div class="container has-padding">
            <form action="/formfile" method="post" enctype="multipart/form-data" onsubmit="return validate()">
                <div class="row download-box">
                    <h2 class="h2">
                        <span>报名参赛</span>
                    </h2>
                    <div class="download-btn-box">
                        <a href="#"  class="btn-download">
                            <span class="download-symbol"><img src="/img/arrow_down_black.png"/></span>
                            <span class="download-text">下载报名表</span>
                            <span class="btn-slide-icon"></span>
                        </a>

                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="add-box">
                            <input type="file" name="file" id="file"/>
                        </div>
                    </div>
                </div>
                名字：<input type="text" name="username" />
                密码：<input type="password" name="password" />
                <div class="row">

                    <div class="submit-box">
                        <input type="submit" name="submit" value="提交" id="submit" class="btn-submit"/>
                    </div>
                </div>
            </form>
        </div>
    </section>
    </div>
</main>
<!-- footer-->
<div id="footer" class="container-fluid background-light-blue">
    <div class="container">
        <h2>翼灵物联工作室</h2>
        <p>欢迎访问我们的各个站点</p>
        <hr class="m-y-md" />
        <div class="row">
            <a href="http://www.swpuiot.com/" target="_blank" class="website-link text-center">
                <img src="/img/nav-official-48.png" alt="翼灵官网" class="website-item"/>
                <p class="website-info">翼灵官网</p>
            </a>
            <a href="http://www.swpuiot.com/%E5%B5%8C%E5%85%A5%E5%BC%8F.html" target="_blank" class="website-link text-center">
                <img src="/img/nav-major-48.png" alt="培养方向" class="website-item"/>
                <p class="website-info">培养方向</p>
            </a>
            <a href="#" target="_blank" class="website-link text-center">
                <img src="/img/nav-competition-48.png" alt="创意大赛" class="website-item"/>
                <p class="website-info">创意大赛</p>
            </a>
            <a href="javascript:void(0);" target="_blank" class="website-link text-center">
                <img src="/img/nav-open-48.png" alt="开源空间" class="website-item"/>
                <p class="website-info">开源空间（暂不开放）</p>
            </a>
            <a href="javascript:void(0);" target="_blank" class="website-link text-center">
                <img src="/img/nav-new-48.png" alt="招新系统" class="website-item"/>
                <p class="website-info">招新系统（暂不开放）</p>
            </a>
            <a href="javascript:void(0);" target="_blank" class="website-link text-center">
                <img src="/img/nav-exam-48.png" alt="考试系统" class="website-item"/>
                <p class="website-info">考试系统（暂不开放）</p>
            </a>
            <a href="javascript:void(0);" target="_blank" class="website-link text-center">
                <img src="/img/nav-family-48.png" alt="翼灵一家人" class="website-item"/>
                <p class="website-info">翼灵一家人（暂不开放）</p>
            </a>
        </div>
    </div>
    <div class="container">
        <hr class="m-y-md" />
        <p class="text-center">
            &copy; 2017
            <a href="http://www.swpuiot.com/" target="_blank">翼灵物联工作室</a>
            <a href="https://github.com/YiLing-IOT-Studio" target="_blank">
                <i class="fa fa-github"></i>
            </a>
        </p>
    </div>
</div>
<script src="/js/entry_form.js"></script>
</body>
</html>